In [1]:
from ini import *

In [81]:
# 샘플 Dictionary 생성 (컬럼 단위로 추가)
dict1 = {}

dict1['Name'] = {0:'Teddy', 1:'John', 2:'Chris'}
dict1['Korean'] = {0:90, 1:80, 2:50}
dict1['Math'] = {0:80, 1:100, 2:70}

type(dict1)
dict1
## 인덱스가 있어야 DataFrame으로 변환 가능

dict

{'Name': {0: 'Teddy', 1: 'John', 2: 'Chris'},
 'Korean': {0: 90, 1: 80, 2: 50},
 'Math': {0: 80, 1: 100, 2: 70}}

In [82]:
# 샘플 Dictionary 생성 (한번에 추가)
dict2 = {'Name': {'Choi', 'Hong', 'Kim'},
          'Korean': {60, 50, 75},
          'Math': {70, 85, 95}}

type(dict2)
dict2

dict

{'Name': {'Choi', 'Hong', 'Kim'}, 'Korean': {50, 60, 75}, 'Math': {70, 85, 95}}

In [83]:
# Dictionary → DataFrame 변환
df1 = pd.DataFrame(dict1)
type(df1)
df1

pandas.core.frame.DataFrame

    Name  Korean  Math
0  Teddy      90    80
1   John      80   100
2  Chris      50    70

In [80]:
# DataFrame → Dictionary 변환
dict3 = df1.to_dict()
type(dict3)
print(dict3)

dict

{'Name': {0: 'Teddy', 1: 'John', 2: 'Chris'}, 'Korean': {0: 90, 1: 80, 2: 50}, 'Math': {0: 80, 1: 100, 2: 70}}

In [79]:
# 열이 하나인 경우 자동으로 DataFrame → Series
sr1 = df1['Name']
type(sr1)
sr1

pandas.core.series.Series

0    Teddy
1     John
2    Chris
Name: Name, dtype: object

In [78]:
# Series → List 변환
ls1 = sr1.to_list()
type(ls1)
ls1

list

['Teddy', 'John', 'Chris']

In [85]:
# Series → Dictionary 변환
dict4 = sr1.to_dict()
type(dict4)
dict4

dict

{0: 'Teddy', 1: 'John', 2: 'Chris'}

In [90]:
# List → Series 변환
ls2 = list(dict4.values())
type(ls2)
ls2

list

['Teddy', 'John', 'Chris']